* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	color: #000;
	font-size: 15px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	font-family: 'Poppins', sans-serif;
	text-rendering: optimizeLegibility;
	background-color: #E9EBEE;
}
/*-------------------header css-------*/
header {
		background-color: #4664A0;
		width: 100%;
		height: 6em;
}
.nav-bar {
	width: 75%;
	display: flex;
	justify-content: space-between;
	color: #fff;
	margin: auto;
}
.nav-bar h1 {
	font-weight:900;
	font-size: 250%;
	margin-top: 25px;
}
.pword-div {
	display: inline-block;
	padding-left:5.5em;
}

.nav-div-two {
	padding-top: 20px;
}
.input-div input {
	margin-right: 1.5em;
	border: 1px solid #000;
	height: 1.7em;
}
.nav-bar a:link, .nav-bar a:visited  {
	color: #9cb4d8;
	text-decoration: none;
	font-size:80%;
	padding-left: 16.3em;
}
.nav-bar a:hover, .nav-bar a:active{
	text-decoration: underline;
}
.nav-bar button a:link,.nav-bar button a:visited  {
	background-color: #436fc2;
		padding: 5px;
		color: #fff;
		font-size: 90%;
		font-weight: bold;
		text-decoration: none;
		border:  1px solid #0707074f;
		border-radius: 1px;
		transition: background-color .5s;
}
.nav-bar button {
	border:none;
}
.nav-bar button a:hover,.nav-bar button a:active {
background-color: #365899;
}
/*-----body css-------*/
.main{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	margin-top: 1em;
}
.image-div {
		width: 50%;
		padding-right: 50px;
		padding-top: 25px;
}
.image-div img {
	max-width: 110%;
}
.image-div p {
	font-size: 120%;
	font-weight: 900;
}
.form-div {

	width: 50%;
	padding-left: 50px;
}
.form-div h2 {
	font-size: 230%;
	font-weight: 900;
}
.form-div p {
	font-size: 120%;
	font-weight: 500;
	margin-bottom: 1em;
}
.name-text {
	height:38px;
	margin-right: 10px;
	width: 210px;
		border: 1px solid #BDC7D8;
    border-radius: 5px;
    margin-bottom: .7em;
}
.name-text::placeholder {
	font-size: 120%;
	padding-left: .5em;
	color: #a5b3ca;
}
.address {
width: 32.5em;
height:38px;
		border: 1px solid #BDC7D8;
    border-radius: 5px;
    margin-bottom: .7em;
}
.address::placeholder {
	font-size: 120%;
	padding-left: .5em;
	color: #a5b3ca;
}
#Birthday {
	color: #444950;
	font-weight: 900;
	margin-bottom: .2em;
}
select {
	padding:.5em .5em;
	margin-bottom: 1em;
}
.font {
	display: inline-block;
	margin-left: .6em;
	font-size: 130%;
	color: #444950;
}
#gender {
	color: #444950;
	font-weight: 900;
	margin-bottom: .5em;
}
.radio-text {
	padding-right: 20px;
	font-size: 110%;
}
#policy-text {
	font-size: 75%;
	max-width: 65%;
	margin-top: 1em;
	font-weight: 300;
}
#policy-text a{
	text-decoration: none;
}
.btn {
    border: none;
    background-color: #69a74e;
    color: #fff;
    padding: 7px 6em;
    border-radius: 5px;
    font-size: 100%;
    font-weight: 800;
    cursor: pointer;
    display: inline-block;
    position: absolute;
   text-shadow: 0 1px 2px rgba(0,0,0,.5);
 	    box-shadow: 0 1px 1px #a4e388;
 	    background: linear-gradient(#67ae55, #578843);
}
.btn-div {
		width: 30%;
	height: 4em;
	position: absolute;
	
}
.btn:hover, .btn:active {
animation-name: button-move;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes button-move {
	0% {
		top: 0;
		background: linear-gradient(#67ae55, #a4e388);
	}
	100% {
		top: 4px;
		background: linear-gradient(#67ae55, #a4e388);
	}
}
hr {
	margin-top: 4.5em;
	border: 1px solid #dddfe2;
	width:70%;
}
#last-p {
	font-size: 80%;
	margin-top: .5em;
	font-weight: 300;
}
#last-p a{
	text-decoration: none;
}
@media only screen and (max-width: 600px) {
	.nav-bar {
	flex-direction: column;
	width: 90%;
	
}

header {
		height: auto;
		padding-bottom: .5em;
}
.main{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 90%;
}
.image-div{
	display: none;
}
.input-div input {
	margin-right: 1em;
width: 40%;
	height: 1.7em;
}
.form-div {
	width: 95%;
}
.form-div h2 {
	font-size: 170%;
	font-weight: 800;
}
.address {
		width: 80%;
}
.name-text {
	width: 80%;
}9
.btn-div {
		width: 0%;
	
}
}
@media only screen and (max-width: 768px) 